.container {
    margin: auto;
    width: 80%;
}
.rounded {
    border-radius: 5px;
}
.article-container {
    background-color: #1c1b29;
    opacity: 90%;
    margin: 3%;
    padding: 3%;
    display: flex;
}
.article-image {
    width: 300px;
    height: 300px;
}
.article-text {
    color: whitesmoke;
    margin-left: 3%;
}
.article-title {
    color: whitesmoke;
    font-size: xxx-large;
    margin: 0;
}
.article-content {
    text-align: justify;
}
.article-view-more {
    text-decoration: none;
}
.article-view-more-image {
    height: 13px;
}
.article-view-more-text {
    color: whitesmoke;
}
.article-view-more-text:hover {
    color: #c5bb2c;
    font-style: italic;
    transition: 0.3s;
}



@media (max-width:900px) {
    .container {
        width: 95%;
    }
    .article-container {
        flex-direction: column;
    }
    .article-text {
        margin-left: 0;
    }
}